# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Temporary files
*.log
*.swp
.DS_Store

# Data directories
data/input/*
!data/input/.gitkeep
data/output/*
!data/output/.gitkeep

# Virtual environment
venv/
env/
ENV/ 